.pokemon-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 20px;
}

.button-wrapper {
    margin-top: 80px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.btn {
    width: 150px;
    height: 50px;
    border-radius: 5px;
    font-size: 17px;
    color: white;
    background-color: royalblue;
    border: 1px solid royalblue;
    outline: none;
    transition: all .3s ease;
}

.btn:hover {
    background-color: rgb(30, 81, 233);
    border-color: rgb(30, 81, 233);
    cursor: pointer;
}